<a href="https://colab.research.google.com/github/blaspheme7/python_dataAnalysis/blob/master/%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%8B%9C%EC%9E%91%ED%95%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np

# pandas.Series 데이터 타입
# dictionary와 비슷함

se=pd.Series([4,7,5,-3])
print(se)

#loc[] : 레이블 기반 인덱스
#iloc[] : 정수 포지션 기반 인덱함

s=pd.Series(data=[1,3,5,7,9],
            index=['a','b','c','d','e'])
print(s)
print(s.loc['b'])

data={'city':['서울','대전','대구','부산'],
      'year':[2018,2019,2020,2021],
      'pop':[1.5,1.7,1.8,1.4]}

df=pd.DataFrame(data, index=['a','b','c','d'])
print('shape = ',df.shape)
print(df)

df1=pd.DataFrame(data=np.random.randn(3,3),
                 columns=['a','b','c'])

print(df1)
df1>0

0    4
1    7
2    5
3   -3
dtype: int64
a    1
b    3
c    5
d    7
e    9
dtype: int64
3
shape =  (4, 3)
  city  year  pop
a   서울  2018  1.5
b   대전  2019  1.7
c   대구  2020  1.8
d   부산  2021  1.4
          a         b         c
0  0.949794 -1.093737  1.143452
1 -0.452566 -0.393206 -0.001871
2  1.311061 -0.642391 -0.568989

       a      b      c
0   True  False   True
1  False  False  False
2   True  False  False